<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="xmlDbATM.DataSource">
        <constructor-arg value="Customers.db"/>
    </bean>
    <bean id="bank" class="xmlDbATM.Bank">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="atm" class="xmlDbATM.ATM">
        <constructor-arg ref="bank"/>
    </bean>
    <bean id="atmSimulator" class="xmlDbATM.ATMSimulator">
        <constructor-arg ref="atm"/>
    </bean>
</beans>