<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="xmlatm.DataSource">
        <constructor-arg value="customer.txt"/>
    </bean>
    <bean id="bank" class="xmlatm.Bank">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="annoatm" class="xmlatm.ATM">
        <constructor-arg ref="bank"/>
    </bean>
    <bean id="atmSimulator" class="xmlatm.ATMSimulator">
        <constructor-arg ref="annoatm"/>
    </bean>
</beans>